.question {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 18px;
}

.question__answer {
    color: #198754;
}

.type-subset legend {
    font-size: 18px;
}

fieldset {
    margin-bottom: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 5px;
    margin-right: 6px;
}

label {
    font-size: 18px;
}

.timer {
    display: flex;
    align-items: center;
    opacity: .75;
    font-size: 20px;
}

.your-answer {
    display: none;
}

.scoreboard {
    display: flex;
    margin-bottom: 18px;
}

.scoreboard__score {
    background-color: #198754;
    color: #fff;
}

.scoreboard__score:not(:last-child) {
    margin-right: 4px;
}

.scoreboard__score--incorrect {
    background-color: #dc3545;
}

.answer-icon {
    pointer-events: none;
}

.answer-icon svg {
    fill: #fff;
}

.badge-icon {
    margin-right: 6px;
}